<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:insert="~{fragments::locale}"></div>
<form action="/login" method="post">
    <label for="username"><span th:text="#{login.username}">Username</span>
        <input id="username" type="text" placeholder="Enter Username" name="username" required>
    </label> <br>
    <label for="password"><span th:text="#{login.password}">Username</span>
        <input id="password" type="password" placeholder="Enter Password" name="password" required>
    </label><br>
    <div style="color: red" th:if="${param.error}">
        Invalid username or password
    </div>
    <button type="submit">Login</button>
</form>


<form action="/users/registration">
    <button type="submit">Registration</button>
</form>


</body>
</html>